<div class="container">
<div class="row-fluid">
  <div class="col s5 m9">
    <div class="card">
      <div class="card-content">
        <div class="row">
          <div class="col s5">
            <img class="col s12" ng-src={{movie.Poster}} />
          </div>
          <br>
          <div class= "col s6 m6">
            <h4>{{movie.Title}}</h4>
            <p>starring: {{movie.Actors}}</p>
            <br>
            <p>{{movie.Plot}}</p>
            <br>
            <hr>
          </div>
        </div>
        <div class="row-fluid">
          <div class= "col s2 m6">
            <h5>Additional Details:</h5>
            <h6><strong>Awards</strong></h6>
            <h6><small>{{movie.Awards}}</small></h6>
            <h6><strong>Country</strong></h6>
            <h6><small>{{movie.Country}}</small></h6>
            <h6><strong>Director</strong></h6>
            <h6><small>{{movie.Director}}</small></h6>
            <h6><strong>Genre</strong></h6>
            <h6><small>{{movie.Genre}}</small></h6>
            <h6><strong>Language</strong></h6>
            <h6><small>{{movie.Language}}</small></h6>
            <h6><strong>Metascore</strong></h6>
            <h6><small>{{movie.Metascore}}</small></h6>
            <h6><strong>Rated</strong></h6>
            <h6><small>{{movie.Rated}}</small></h6>
            <h6><strong>Released</strong></h6>
            <h6><small>{{movie.Released}}</small></h6>
            <h6><strong>Runtime</strong></h6>
            <h6><small>{{movie.Runtime}}</small></h6>
            <h6><strong>Title</strong></h6>
            <h6><small>{{movie.Title}}</small></h6>
            <h6><strong>Writer</strong></h6>
            <h6><small>{{movie.Writer}}</small></h6>
            <h6><strong>Year</strong></h6>
            <h6><small>{{movie.Year}}</small></h6>
            <h6><strong>imdbRating</strong></h6>
            <h6><small>{{movie.imdbRating}}</small></h6>
            <h6><strong>imdbVotes</strong></h6>
            <h6><small>{{movie.imdbVotes}}</small></h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
